@{
    ViewBag.Title = "Home Page";
}

<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url('../../Content/ImgEnglish/img/slide/slide-1.jpg'); ">
                    <div class="carousel-container">
                        <div class="carousel-content container">
                            <h2 class="animate__animated animate__fadeInDown">Welcome to <br /> <span>AM-PM Solutions GLOBAL MANAGEMENT</span></h2>
                            <p class="animate__animated animate__fadeInUp">AM-PM Solutions <span style="font-style: italic;">Global Management</span> is your essential partner about getting solutions in the management of your business from an organizational and integrated point of view.</p>
                            <a href="@Url.Action("CompanyEn","Home")" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url('../../Content/ImgEnglish/img/slide/slide-2.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content container">
                            <h2 class="animate__animated animate__fadeInDown">Welcome to <br /> <span>AM-PM Solutions GLOBAL MANAGEMENT</span></h2>
                            <p class="animate__animated animate__fadeInUp">We bring the best assets to your company to address the challenges of dealing with projects from the beginning to the completion taking into account all the aspects of the process.</p>
                            <a href="@Url.Action("CompanyEn","Home")" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url('../../Content/ImgEnglish/img/slide/slide-3.jpeg');">
                    <div class="carousel-container">
                        <div class="carousel-content container">
                            <h2 class="animate__animated animate__fadeInDown">Welcome to <br /> <span>AM-PM Solutions GLOBAL MANAGEMENT</span></h2>
                            <p class="animate__animated animate__fadeInUp">We are passionate about bringing the right resource to fit the required role applying strategies according to your current needs.</p>
                            <a href="@Url.Action("CompanyEn","Home")" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Counts Section ======= -->
    <section class="counts section-bg services">
        <div class="container">
            <div class="section-title">
                <h2>SERVICES</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center" data-aos="fade-up">
                    <a href="@Url.Action("servicesProjectMangementEn","Home")">
                        <div class="count-box">
                            <i class="icofont-spinner" style="color: #EB8533;"></i>
                            <h4 class="title"><a href="@Url.Action("servicesProjectMangementEn","Home")">PROJECT MANAGEMENT</a></h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
                    <a href="@Url.Action("servicesConsultancyEn","Home")">
                        <div class="count-box">
                            <i class="icofont-users-alt-5" style="color: #EB8533;"></i>
                            <h4 class="title"><a href="@Url.Action("servicesConsultancyEn","Home")">CONSULTANCY</a></h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="section-title">
                <h2>INDUSTRIES</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="icofont-map-pins" style="color: #EB8533;"></i></div>
                    <h4 class="title"><a href="@Url.Action("IndustriesTraslationEn","Home")">Project Management in <br>Transalation and Localization Industry</a></h4>
                    <p class="description">We help language service providers to manage and run their projects bringing the best assets to deal...</p>
                </div>
                <div class="col-lg-6 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="icofont-company" style="color: #EB8533;"></i></div>
                    <h4 class="title"><a href="@Url.Action("IndustriesGeneralEn","Home")">Project Management in <br>General Companies</a></h4>
                    <p class="description">We help companies in general to organize their structure according to the base or purpose...</p>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->
</main><!-- End #main -->