@model am_pm_solutions.Entities.BolsaTrabajo
@{
    ViewBag.Title = "Index";
}

<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>SEND YOUR CV</h2>
                <ol>
                    <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                    <li>SEND YOUR CV</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
                    <h4>
                        If you are passionate, responsible, and want to give your best in your role, feel free to send your resume with your personal info, education, and experience at <a href="">email</a>
                    </h4>
                    <br><br>
                    <div class="titulos">Form</div>
                    <br><br>

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group ">
                            <div class="input-group col-lg-12">
                                @Html.EditorFor(model => model.NombreApellido, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Name (*)", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.NombreApellido, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="input-group col-lg-12">
                                @Html.EditorFor(model => model.Localidad, new { htmlAttributes = new { @class = "form-control", placeholder = "Your City (*)", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Localidad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="input-group col-lg-12">
                                @Html.EditorFor(model => model.Provincia, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Estate (*)", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Provincia, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="input-group col-lg-12">
                                @Html.EditorFor(model => model.País, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Countries (*)", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.País, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="input-group col-lg-12">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Email (*)", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-4 input-group input-file2">
                            @Html.HiddenFor(model => model.ArchivoCV)
                            <span class="input-group-btn">
                                <button class="btn btn_Send btn-choose" type="button">Select CV</button>
                            </span>
                            <input type="text" multiple placeholder='Select file' required style="border: none;" />
                        </div>
                        <br />
                        <div class="text-center"><button class="btn_Send" type="submit">SEND CV</button></div>
                    }
                </div>
            </div>
        </div>
    </section><!-- End Contact Us Section -->
</main><!-- End #main -->

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    function bs_input_file2() {
        $(".input-file2").before(
            function () {
                if (!$(this).prev().hasClass('input-ghost')) {
                    var element = $("<input type='file' Multiple class='input-ghost' style='visibility:hidden; height:0;' accept='application/pdf'>");
                    element.attr("name", "ArchivoCV");
                    element.attr("id", "ArchivoCV");                   
                    element.change(function () {
                        element.next(element).find('input').val((element.val()).split('\\').pop());
                    });
                    $(this).find("button.btn-choose").click(function () {
                        element.click();
                    });
                    $(this).find("button.btn-reset").click(function () {
                        element.val(null);
                        $(this).parents(".input-file2").find('input').val('');
                    });
                    $(this).find('input').css("cursor", "pointer");
                    $(this).find('input').mousedown(function () {
                        $(this).parents('.input-file2').prev().click();
                        return false;
                    });
                    return element;
                }
            }
        );
    };

    $(function () {
        bs_input_file2();
    });
</script>